﻿@{
    ViewBag.Title = "Administration";
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/quill/dist/quill.base.css" />
    <link rel="stylesheet" href="~/lib/quill/dist/quill.snow.css"/>
    <link rel="stylesheet" href="~/lib/angular-loading-bar/src/loading-bar.css" />
}


@section Scripts
{
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="~/lib/quill/dist/quill.min.js"></script>
    <script type="text/javascript" src="~/lib/ngquill/src/ng-quill.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-loading-bar/src/loading-bar.js"></script>

    <script type="text/javascript" src="~/js/app-admin.js"></script>
    <script type="text/javascript" src="~/js/PostsController.js"></script>
    <script type="text/javascript" src="~/js/EditPostController.js"></script>
}

<div class="row" ng-app="app-admin">
    <div ng-view></div>
</div>