﻿<div class="col-md-7 col-md-offset-2">
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <form novalidate name="editPostForm" ng-submit="vm.post.id ? vm.updatePost() : vm.addPost()">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" id="title" name="title" ng-model="vm.post.title" required ng-minlength="5"/>
            <span class="text-danger" ng-show="editPostForm.title.$error.required">Required</span>
            <span class="text-danger" ng-show="editPostForm.title.$error.minlength">Title must be at least 5 characters.</span>
        </div>
        <div class="form-group">
            <label>Content</label>
            <ng-quill-editor ng-model="vm.post.content" id="content" name="content" toolbar="true" link-tooltip="true" image-tooltip="true" class="quill-wrapper"
                             toolbar-entries="font size bold list bullet italic underline strike aligh color background link image" editor-required="true"></ng-quill-editor>
            <span class="text-danger" ng-show="editPostForm.content.$error.required">Required</span>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-success" ng-disabled="editPostForm.$invalid"/>
            <a href="#/" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>