﻿<div class="col-md-6 col-md-offset-3">
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <div class="pull-right">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a ng-href="#/editor" class="btn btn-default"><i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in vm.posts">
                <td>{{ post.title }}</td>
                <td>{{ post.created | date }}</td>
                <td>
                    <a ng-href="#/editor/{{ post.id }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
                    <button ng-click="vm.deletePost($index)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </tr>
        </tbody>
    </table>
</div>